div{border:solid rgb(0,0,100) 1px;background:rgb(0,0,100);border-radius:100px;width:200pt;padding:100pt;margin:50pt;text-align:center;font-family:Bradley Hand ITC}	
span{color:white;background:rgb(0,0,100);border-radius:70px;padding:10px;font-size:20pt}
input{font-family:Bradley Hand ITC;font-size:30px;text-align:center}