div{color:white;background:rgb(0,0,100);font-family:Bradley Hand ITC;padding:10pt;padding-left:300pt;width:600pt;margin-left:50pt;margin-top:150pt;opacity:0.7;border-radius:50px}
pre{opacity:1}
input{font-family:Bradley Hand ITC;font-size:20pt} 
span{ font-size:20pt }	